@{
    ViewData["Title"] = "Result Page";
    var deletedUserName = (string)@ViewBag.DeletedUserName;
}

<div class="text-center">
    <h1 class="display-4">ResultPage</h1>
    <a asp-action="Index" asp-controller="Member">Back</a>
    <p>Person [<strong>@deletedUserName</strong>] was removed from the list successfully!</p>
</div>
